<% for(var i = 0; i < games.length; i++){ %>
 <a class = "game" id = <%= games[i].id %> onClick = 'return false'> <%= games[i].name %> <br></a> 
<% } %>
        <script src = "../javascripts/jquery.min.js"></script>
        <script src = "../javascripts/Browse.js"></script>