<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/Header', {user: user}) %>
        <link rel="stylesheet" href="../stylesheets/chessboard-1.0.0.min.css">
        <link rel="stylesheet" href="../stylesheets/gameCreator.css"
        </head>
    <body>
        <div id = "boards">
            <div id="FENBoard" class = "board" style="width: 600px"></div>
            <div id="currentPieceBoard" class = "board" style="width: 325px"></div>
        </div>
        <input id = 'name' type = "text" name = "Name">
        <input type = "submit" value = "Submit"/>
        <script src = "../javascripts/jquery.min.js"></script>
        <script src = "../javascripts/chessboard-1.0.0.min.js"></script>
        <script src = "../javascripts/GameCreatorBundle.js"></script>
    </body>
</html>
