<!DOCTYPE html>
<html>
    <head>
        <%=username %>
        <link rel="stylesheet" href="../stylesheets/chessboard-1.0.0.min.css">
        </head>
    <body>
        <div id="myBoard" style="width: 400px"></div>
        <div id="movement">
            <button type="button" id = 'kingMovement'>Add King Movement</button>
            <button type="button" id = 'queenMovement'>Add Queen Movement</button>
            <button type="button" id = 'bishopMovement'>Add Bishop Movement</button>
            <button type="button" id = 'knightMovement'>Add Knight Movement</button>
            <button type="button" id = 'rookMovement'>Add Rook Movement</button>
            <button type="button" id = 'pawnMovement'>Add Pawn Movement</button>
            <button type="button" id = 'customMovement'>Add Custom Movement</button>
            <button type="button" id = 'teleportMovement'>Add Teleportation</button>
        </div>
        <div id = "Attack Type">
            <h1>Attack Type</h1>
            <input type = "radio" name = "attackType" value = "normal" checked/>Normal
            <input type = "radio" name = "attackType" value = "pacifist"/>Pacifist
            <input type = "radio" name = "attackType" value = "friendlyFire"/>Friendly Fire
            <input type = "radio" name = "attackType" value = "traitor"/>Traitor
        </div>
        <div id = "Mods">
            <h1>Move Mods</h1>
            <input type = "checkbox" name = "movemods" value = "ethereal"/>Ethereal
            <h1>Attribute Mods</h1>
            <input type = "checkbox" name = "attrmods" value = "beacon"/>Beacon
            <input type = "checkbox" name = "attrmods" value = "kingly"/>Kingly
        </div>
        <input type = "submit" value = "Submit"/>
        <script src = "public/javascripts/jquery.min.js"></script>
        <script src = "../javascripts/chessboard-1.0.0.min.js"></script>
        <script src = "../javascripts/GameCreatorBundle.js"></script>
    </body>
</html>
