.board{
    float: left;
    padding: 0px;
    margin: auto;
    width: 50%
}

body{
    background-color: rgb(226, 226, 226)
}

#boardMeta{
    position: absolute;
    bottom: .5%;
}

#boardMeta h3{
    margin: 5px
}

#currentPieceBoard{
    padding: 20px;
    padding-top: 38.5px;
}
#pieceStats{
    position: absolute;
    right: 48.0%;
    margin: auto;
}

.moveAmount[type="number"]{
    width: 25px;
}
.moveAmount{
    display: inline-block;
}

#movement{
    position: absolute;
    right: 15%;
}

#pathBoard{
    position: absolute;
    margin-top: 3.5%;
    right: 35%;
}

#currentBoardTeleportAndDeny{
    position: absolute;
    left: 28%;
    top: 40%;
    width: 200px;
    height: 200px;
}

#currentBoardTeleportAndDeny [type="textbox"]{
    width: 50px;
}